* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header,
.container {
  padding: 43px 260px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.header {
  align-items: center;
  background-color: #333533;
  height: 376px;
}

.header img {
  width: 290px;
  height: 290px;
  border-radius: 50%;
}

.header .title {
  margin-left: 50px;
  color: #ffd100;
}

.header .title h1 {
  font-size: 56px;
  font-weight: 500;
  margin: 0;
  line-height: 1;
}

.title .position {
  color: #fff;
  font-size: 32px;
  margin: 40px 0;
  font-weight: 400;
}

.title .position i {
  margin-right: 16px;
  color: #ffd100;
}

.button {
  padding: 8px 24px;
  border: 2px solid #ffd100;
  border-radius: 4px;
  text-align: center;
  color: #ffd100;
  display: inline-block;
}

.container {
  align-items: flex-start;
  color: #333533;
}
nav {
  width: 300px;
}
nav ul {
  list-style: none;
  font-size: 24px;
  padding: 0;
}
nav ul li:not(:last-child):after {
  content: "";
  display: block;
  border-left: 1px dashed #333533;
  margin: 16px 0px 16px 20px;
  height: 48px;
}
ul li .marker {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #333533;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 12px;
}
ul li.active {
  font-weight: 500;
}
ul li.active .marker {
  background-color: #333533;
  color: #ffd100;
}
ul li .marker i {
  font-size: 22px;
}
.sections {
  width: 650px;
}
